/* Write your CSS here */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 6px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}

.title {
  font-family: 'Roboto';
  color: #334155;
  font-size: 22px;
  font-weight: 400;
}

.button {
  border-width: 0px;
  background-color: #ffffff;
  color: #334155;
  font-family: 'Roboto';
  font-size: 14px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
}

.description {
  font-family: 'Roboto';
  font-size: 12px;
  color: #1e293b;
}
